template(name="home")
   .container
      +atForm

      if currentUser
         h6.center Signed in as
            with currentUser
               each emails
                  | {{address}}
         hr
         +show_rooms

template(name="show_rooms")
   h2 Rooms
      // Modal Trigger
      a.btn-floating.btn-large.waves-effect.waves-light.green.right.modal-trigger(href="#room-creator")
         i.mdi-content-add Add
   +room_creator

   .row
      each rooms
         +room_card

//
template(name="room_card")
   .col.s12.m6
      .card(class="{{color}}")
         .card-content.white-text
            span.card-title= roomname
            p= description
         .card-action
            a(href='/rooms/{{_id}}') Go to room
            unless sessionInProgress
               span.right ETA {{eta}}
            else
               span.right NOW IN PROGRESS

template(name="room_creator")
   // Modal Structure
   #room-creator.modal.bottom-sheet
      .modal-content
         h4 Add room
         // TODO: Form
         .row
            form#room-form.col.s12
               .row
                  .input-field.col.s6.m4
                     input#roomname.validate(value='Room name', type='text' pattern=".{3,30}" maxlength="30"
                     required title="(3 to 30 characters)" name="roomname")
                     label.active(for='roomname') Title
                  .input-field.col.s6.m4
                     input#eta.validate(value='THU 09.30', type='text' maxlength="15"
                     pattern=".{5,15}" required title="(5 to 15 characters)" name="eta")
                     label.active(for='eta') Planning time
                  .input-field.col.s6.m4
                     select#color.browser-default
                        option(value='', disabled='', selected='') Select color
                        option(value='blue-grey') Blue-grey
                        option(value='pink') Pink
                        option(value='blue') Blue
                        option(value='grey') Grey
                        option(value='red') Red
                        option(value='green') Green
                        option(value='orange') Orange
                        option(value='deep-purple') Purple
                        option(value='indigo') Indigo
                        option(value='cyan') Cyan
                        option(value='teal') Teal
                        option(value='brown') Brown
               .row
                  .input-field.col.s12.m6
                     input#description.validate(value='Room description', type='text' maxlength="50"
                     pattern=".{5,50}" required title="(5 to 50 characters)" name="description")
                     label.active(for='description') Description
                  .col.s12.m6.center
                     br
                     a.modal-action.modal-close.waves-effect.waves-green.btn-flat.left(href="#") CANCEL
                     button.modal-action.modal-close.waves-effect.waves-green.btn.right(type='submit', name='action') CREATE

      .modal-footer
         //hr

