template(name="home")
   .container
      +atForm

      if currentUser
         h6.center Signed in as
            with currentUser
               each emails
                  | {{address}}
         hr
         +show_rooms


//



