template(name="home")
   .container
      +atForm

      with currentUser
         h6.center Signed in as
            each emails
               | {{address}}
         hr
         +show_rooms

template(name="show_rooms")
   h2 Rooms
      // Modal Trigger
      a.btn-floating.btn-large.waves-effect.waves-light.green.right.modal-trigger(href="#room-creator")
         i.mdi-content-add Add
   +room_creator

   // TODO: Room template
   each rooms
      .row
         +room_card


   //.row
      .col.s12.m6
         .card.blue-grey
            .card-content.white-text
               span.card-title Realm's planning room
               p
                  | For the eyes of Realm only
            .card-action
               a(href='/rooms/1') Go to room
               span.right ETA THU 09.30
      .col.s12.m6
         .card.pink
            .card-content.white-text
               span.card-title Dhoze's room
               p
                  | Even Dhoze can do planning
            .card-action
               a(href='#') Go to room
               span.right ETA FRI 08.30

      .col.s12.m6
         .card.grey
            .card-content.white-text
               span.card-title Nordic Entertainment
               p
                  | Sam's playground
            .card-action
               a(href='#') Meet Sam
               span.right ETA MON 10.00

      .col.s12.m6
         .card.blue.darken-1
            .card-content.white-text
               span.card-title Nordic Entertainment
               p
                  | Sam's playground
            .card-action
               a(href='#') Meet Sam
               span.right ETA MON 10.00

template(name="room_card")
   .col.s12.m6
      .card(class="{{color}}")
         .card-content.white-text
            span.card-title= roomname
            p= description
         .card-action
            a(href='/rooms/{{_id}}') Go to room
            span.right ETA {{eta}}

template(name="room_creator")
   // Modal Structure
   #room-creator.modal.bottom-sheet
      .modal-content
         h4 Add room
         // TODO: Form
         .row
            form#room-form.col.s12
               .row
                  .input-field.col.s6.m4
                     input#roomname.validate(value='Room name', type='text' pattern=".{3,30}" maxlength="30"
                     required title="(3 to 30 characters)" name="roomname")
                     label.active(for='roomname') Title
                  .input-field.col.s6.m4
                     input#eta.validate(value='ETA THU 09.30', type='text' maxlength="15"
                     pattern=".{5,15}" required title="(5 to 15 characters)" name="eta")
                     label.active(for='eta') Planning time
                  .input-field.col.s6.m4
                     select#color.browser-default
                        option(value='', disabled='', selected='') Select color
                        option(value='blue-grey') Blue-grey
                        option(value='pink') Pink
                        option(value='blue') Blue
                        option(value='grey') Grey
               .row
                  .input-field.col.s12.m6
                     input#description.validate(value='Room description', type='text' maxlength="50"
                     pattern=".{5,50}" required title="(5 to 50 characters)" name="description")
                     label.active(for='description') Description
                  .col.s12.m3.center
                     br
                     a.modal-action.modal-close.waves-effect.waves-green.btn-flat.left(href="#") CANCEL
                     button.modal-action.modal-close.waves-effect.waves-green.btn.right(type='submit', name='action') CREATE

      .modal-footer
         //hr

