//
template(name="plugin_youtrack")
    form(action="#")
        p
            input#youtrack(type="checkbox" name="youtrack")
            label(for="youtrack") Fetch from Youtrack ?
    .switch
        label Off
            input(type="checkbox")
            span.lever