// TODO: Sassify

.forward, .reset-clock {
  cursor: pointer;
  &:hover {
    text-shadow: 0 0 10px #636363;
  }
  &:active {
    text-shadow: 0 0 5px #636363;
  }
}

//  TODO: extract what's similar to common functionality
.add-feature {
  cursor: pointer;

  &:hover {
    text-shadow: 0 1px 10px #BABABA;
  }
  &:active {
    text-shadow: 0 0 5px #BABABA;
  }
}
.edit-feature {
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 1.5rem 0 green;
  }
  &:active {
    box-shadow: 0 0 1rem 0 green;
  }
}

.remove-feature {
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 10px red;
  }
  &:active {
    text-shadow: 0 0 5px red;
  }
}

.feature-estimate {
  line-height: 2rem;
}

.unlock {
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 20px #636363;
  }
  &:active {
    text-shadow: 0 0 10px #636363;
  }
}

.eta {
  line-height: 0;
}

.time {
  margin-bottom: 0;
}

#edit-features {
  bottom: 3rem;
  right: 3rem;
}

.estimate {
  display: inline-block;
  background-color: rgba(22, 55, 95, 0.97);
  width: 4rem;
  cursor: pointer;
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 10%;
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.16);

  &.disabled {
    background-color: #ededed;
    color: grey;
    box-shadow: none;

    &:active, &.hover {
      background-color: #ededed;
      color: grey;
      box-shadow: none;
    }
  }

  &:hover {
    text-shadow: 0 2px 20px grey;
    font-weight: bold;
  }
  &:active {
    color: #b4ba24;
    text-shadow: 0 2px 13px grey;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
    background-color: rgba(22, 55, 95, 0.97);
  }
}

.poker-card {
  text-align: center;
  height: 5rem;
  width: 4rem;
  font-size: 3em;
  border: 0.1rem solid rgba(10, 10, 10, 0.2);
  border-radius: 10%;
  background-color: #fff;
  transition: box-shadow .25s;
  transition: background-color 2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &.un-flipped {
    transition: background-color 2s;

    background-color: #636363;
    color: #fff;
  }

}