// TODO: Leave room button, that will disconnect id from viewers collection
template(name="room")
   .container
      .row
         br
         // TODO: _with_ room
         .flow-text.center
            b Realm's planning room
            // TODO: if admin (You are admin)
         p.flow-text.eta
            | ETA
            span.green-text= room.eta
            // if inprogress
            // TODO: room.inprogress!
            span.right.pink-text In Progress
            // else
               waiting for session to start / Now estimating
         // if started
         h4.center.time
            | Time left:
            span.red-text 5
         // else
            // Waiting for estimation to start

      .row
         // TODO: if admin (Create features) + mark as done
         // TODO: fetch "features" - for room _id (findOne)
         .col.s12
            .card
               .card-content.lime.lighten-3.black-text
                  span.card-title.black-text RMOB-1052
                  a.btn-floating.btn-large.waves-effect.waves-light.red.right
                     i ?
                  p
                     b CMET Mobile
                     | Prevent customer login sessions to time out
               .card-action
                  a(href='#') Go to YouTrack

      // if estimating
      .row
         // TODO: Room settings for estimates,
         // TODO: if admin (Change estimate (type))
         h5.center Your estimate
         // .lime.lighten-4
         h5.center
            each estimates.list
               a.estimate= this

      // else
         TODO: Average estimate (when estimated)

      .row
         h5.center Participants
         +participants


// TODO: Populate with more user data
// TODO : Get estimations for cards, flip and unflip
template(name="participants")
   ul.collection
      each viewers
         li.collection-item.dismissable.avatar
            img.circle(src='img/anon.svg', alt='')
            span.title= email
            p
               | Mobile Web Realm
            .poker-card.un-flipped.secondary-content
               br
               b ?
      //li.collection-item.dismissable.avatar
         img.circle(src='img/anon.svg', alt='')
         span.title Konstantinos Mesaikos
         p
            | Mobile Web Realm
         .poker-card.secondary-content
            br
            b 3
      //li.collection-item.dismissable.avatar
         img.circle(src='img/anon.svg', alt='')
         span.title Ioannis Pinnakoulakis
         p
            | Mobile Web Realm
         .poker-card.secondary-content
            br
            b 1