template(name="room")
   // with content
   .container
      .row
         h1 Realm's planning room
         p.flow-text ETA THU 09.30
            span.right In Progress
         h3.center Time: 5
         h4.center Current Issue

      .row
         .col.s12
            .card
               .card-content.lime.lighten-3.black-text
                  span.card-title.black-text Feature #1
                  a.btn-floating.btn-large.waves-effect.waves-light.red.right
                     i ?
                  p
                     b RMOB-1052
                     | CMET Mobile: Prevent customer login sessions to time out
               .card-action
                  a(href='#') LINK TO YOUTRACK
