.eta {
  line-height: 0;
}

.time {
  margin-bottom: 0;
}

.estimate {
  display: inline-block;
  background-color: #ededed;
  width: 4rem;
  cursor: pointer;
  border: 0.1rem solid rgba(10, 10, 10, 0.5);
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 10%;
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.16);

  &:hover {
    color: aqua;
    font-size: larger;
  }
  &:active {
    color: aquamarine;
    font-size: larger;
  }
}

.poker-card {
  text-align: center;
  height: 2em;
  width: 2em;
  font-size: 3em;
  border: 0.1rem solid rgba(10, 10, 10, 0.2);
  border-radius: 10%;
  background-color: #fff;
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &.un-flipped {
    background-color: #636363;
    color: #fff;
  }

}